<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Página de revisão</title>
        <link rel="stylesheet" href="../css/review_page.css">
    </head>
    <body onload="onLoadBody()">
        <div id="main">
            <div id="card"></div>
            <div class="row-btns">
                <button id="btn-close" onclick="onClickClose()">Fechar</button>
                <div id="toggle-answer">
                    <button id="btn-show-answer" onclick="onClickShowAnswer()">Mostrar resposta</button>
                    <div id="rate-btns">
                        <button id="btn-answer-1" onclick="onClickNext()">Errei</button>
                        <button id="btn-answer-2" onclick="onClickNext()">Quase acertei</button>
                        <button id="btn-answer-3" onclick="onClickNext()">Acertei mas foi difícil</button>
                        <button id="btn-answer-4" onclick="onClickNext()">Acertei de boas</button>
                        <button id="btn-answer-5" onclick="onClickNext()">Foi muito fácil</button>
                    </div>
                </div>
                <button id="btn-more-options">Mais opções</button>
            </div>
        </div>
    </body>
    <script>
        const { ipcRenderer } = require("electron");
        var flashcards = [];
        var index = 0;
        var card = document.getElementById("card");
        
        function onLoadBody() {
            ipcRenderer.send("rqtGetCds");
        }

        ipcRenderer.on("rcvGetCds", (event, rows) => {
            for (var i = 0; i < rows.length; i++) {
                flashcards.push({
                    "front": rows[i].front,
                    "back": rows[i].back,
                });
            }
            buildCard();
        });

        function buildCard() {
            card.innerHTML = "";
            var front = document.createElement("div");
            card.appendChild(front);
            front.classList.add("front");
            var question = document.createTextNode(flashcards[index]["front"]);
            front.appendChild(question);
        }

        function onClickNext() {
            if (index < (flashcards.length - 1)) {
                index++;
                buildCard();

                var btnShowAnswer = document.getElementById("btn-show-answer");
                btnShowAnswer.style.display = "inline-block";
                var rateBtns = document.getElementById("rate-btns");
                rateBtns.style.display = "none";
            } else {
                card.innerHTML = "<center>Revisão finalizada!</center>";
                var rateBtns = document.getElementById("rate-btns");
                rateBtns.style.display = "none";
            }
        }

        function onClickShowAnswer() {
            var hr = document.createElement("hr");
            card.appendChild(hr);
            var back = document.createElement("div");
            card.appendChild(back);
            back.classList.add("back");
            var answer = document.createTextNode(flashcards[index]["back"]);
            back.appendChild(answer);

            var btnShowAnswer = document.getElementById("btn-show-answer");
            btnShowAnswer.style.display = "none";
            var rateBtns = document.getElementById("rate-btns");
            rateBtns.style.display = "flex";
        }

        function onClickBefore() {
            if (index > 0) {
                index--;
                buildCard();
            }
        }

        ipcRenderer.on("error", (event) => {
            alert("Ocorreu um erro inesperado! Por favor, feche esta janela e abra novamente!");
        });
    </script>
</html>